extends layout.pug

block content
    .container
        .header-img
            img(src="/Images/tapioca-3.png", alt="", id="bubble")
            img(id='brand-logo' src='/Images/Logo_SinR.svg')
            img(src="/Images/tapioca-3.png", alt="", id="bubble1")
        .body-form
            h3 Ayúdanos a mejorar y recibe grandes premios!!
            img(src="/Images/tapioca-3.png", alt="", id="bubble2")
            .cover-pics
                img(src="/Images/blob-9.svg", alt="")
            label
                input(type='checkbox' value='Bueno') 
                label     He leído y acepto la 
                    a(href='#') política de privacidad.
            br
            img(src="/Images/tapioca-3.png", alt="", id="bubble3")
            input(type='button' id='next-step' value='¡Sí Quiero!')
            a(href="/quizz") Enlace
            img(src="/Images/tapioca-3.png", alt="", id="bubble4")