extends layout-quizz.pug

block content
    .container
        form(action='' method='get')
            .slide.active-slide
                .disclaimer
                    img(class="logo" src='/Images/Logo_SinR.svg' alt='Logo de Cassava Roots' width='170px' height='200px')
                    .titles
                        h3 AYÚDANOS A MEJORAR Y RECIBE
                        h2 ¡GRANDES PREMIOS!
                    .covers
                        img(id="astronaut" src='/Images/ast.png' alt='Astronauta de tapioca' width='220px' height='240px')
                    label(id="agreement")
                        input(id="privacyDoc" type='checkbox' value='Agree' onclick='validateTerms()')
                        span He leído y acepto la 
                    br
                    .buttons
                        button(id="startBtn" class="movButton disabled" disabled="true") Comenzar
            