extends layout-quizz.pug

block content
    .parent-container 
        #quiz-container
            #quiz
        .buttonera
            button(class="fButton" id='previous') Anterior
            button(class="fButton" id='btnNext') Siguiente
            button(class="fButton" id='submit') Terminar
        #results