<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/quizzStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Cassava Quizz</title>
</head>
<body>
    <div class="container">
        <form action="" id="formFinal" name="formFinal" method="POST">
            <div class="slide active-slide">
                <div class="disclaimer">
                    <img class="logo" src="../Images/Logo_SinR.svg" alt="Logo de Cassava Roots" width="170px" height="200px">
                    <div class="titles">
                        <h3>AYÚDANOS A MEJORAR Y RECIBE</h3>
                        <h2>¡GRANDES PREMIOS!</h2>
                    </div>
                    <div class="covers">
                        <img id="astronaut" src="../Images/ast.png" alt="Astronauta de tapioca" width="220px" height="240px">
                    </div>
                    <label id="agreement">
                        <input id="privacyDoc" name="Advertisement" type="checkbox" value="Agree"/>
                        <span>He leído y acepto la <a href="#">política de privacidad</a>.</span>
                    </label>
                    <br/>
                    <div class="buttons">
                        <button class="movButton disabled" id="startBtn" disabled>Comenzar</button>
                    </div>
                </div>
            </div>
            <div class="slide quizzQuestion">
                <h2>¿TE GUSTÓ TU BEBIDA?</h2>
                <div class="answers">
                    <div class="first-row">
                        <label class="custom-radio">
                            <input type="radio" name="Bebida" id="rdBedida" value="excelente">
                            <span class="radio-btn">
                                <img src="../Images/excelente.png"/>
                                <p id="form-sense">SUPER COOL</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Bebida" id="rdBedida" value="bueno">
                            <span class="radio-btn">
                                <img src="../Images/bien.png"/>
                                <p id="form-sense">MÁS O MENOS</p>
                            </span>
                        </label>
                    </div>
                    <br/>
                    <div class="second-row">
                        <label class="custom-radio">
                            <input type="radio" name="Bebida" id="rdBedida" value="regular">
                            <span class="radio-btn">
                                <img src="../Images/regular.png"/>
                                <p id="form-sense">MEDIO CHAFA</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Bebida" id="rdBedida" value="malo">
                            <span class="radio-btn">
                                <img src="../Images/mal.png"/>
                                <p id="form-sense">NO ME LATIÓ</p>
                            </span>
                        </label>
                    </div>
                    <div class="comments">
                        <label class="add-comment">
                            <input type="checkbox" name="CommentChoice" id="commentBebida">
                            <span class="check-desc">Agregar un comentario.</span>
                        </label>
                        <input class="hiden" type="text" name="CommentarioBebida" id="txtDescBebida">
                    </div>
                </div>
                <div class="movement">
                    <button class="movButton disabled" id="nextBtn" name="next1" disabled>Siguiente</button>
                </div>
            </div>
            <div class="slide quizzQuestion">
                <h2>¿CÓMO TE ATENDIMOS?</h2>
                <div class="answers">
                    <div class="first-row">
                        <label class="custom-radio">
                            <input type="radio" name="Atencion" id="rdAtencion" value="excelente">
                            <span class="radio-btn">
                                <img src="../Images/excelente.png"/>
                                <p id="form-sense">SUPER COOL</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Atencion" id="rdAtencion" value="bueno">
                            <span class="radio-btn">
                                <img src="../Images/bien.png"/>
                                <p id="form-sense">MÁS O MENOS</p>
                            </span>
                        </label>
                    </div>
                    <div class="second-row">
                        <label class="custom-radio">
                            <input type="radio" name="Atencion" id="rdAtencion" value="regular">
                            <span class="radio-btn">
                                <img src="../Images/regular.png"/>
                                <p id="form-sense">MEDIO CHAFA</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Atencion" id="rdAtencion" value="malo">
                            <span class="radio-btn">
                                <img src="../Images/mal.png"/>
                                <p id="form-sense">NO ME LATIÓ</p>
                            </span>
                        </label>
                    </div>
                    <div class="comments">
                        <label class="add-comment">
                            <input type="checkbox" name="comment" id="commentAtencion">
                            <span>Agregar un comentario.</span>
                        </label>
                        <input class="hiden" type="text" name="descAtencion" id="txtDescAtencion">
                    </div>
                </div>
                <div class="movement">
                    <button class="movButton disabled" id="nextBtn" name="next2" disabled>Siguiente</button>
                </div>
            </div>
            <div class="slide quizzQuestion">
                <h2>EL TIEMPO DE ESPERA FUE:</h2>
                <div class="answers">
                    <div class="first-row">
                        <label class="custom-radio">
                            <input type="radio" name="Tiempo" value="excelente">
                            <span class="radio-btn">
                                <img src="../Images/excelente.png"/>
                                <p id="form-sense">SUPER COOL</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Tiempo" value="bueno">
                            <span class="radio-btn">
                                <img src="../Images/bien.png"/>
                                <p id="form-sense">MÁS O MENOS</p>
                            </span>
                        </label>
                    </div>
                    <div class="second-row">
                        <label class="custom-radio">
                            <input type="radio" name="Tiempo" value="regular">
                            <span class="radio-btn">
                                <img src="../Images/regular.png"/>
                                <p id="form-sense">MEDIO CHAFA</p>
                            </span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="Tiempo" value="malo">
                            <span class="radio-btn">
                                <img src="../Images/mal.png"/>
                                <p id="form-sense">NO ME LATIÓ</p>
                            </span>
                        </label>
                    </div>
                    <div class="comments">
                        <label class="add-comment">
                            <input type="checkbox" name="comment" id="commentTiempo">
                            <span>Agregar un comentario.</span>
                        </label>
                        <input class="hiden" type="text" name="descTiempo" id="txtDescTiempo">
                    </div>
                </div>
                <div class="movement">
                    <button class="movButton disabled" id="nextBtn" name="next3" disabled>Siguiente</button>
                </div>
            </div>
            <div class="slide quizzQuestion">
                <h2>CASSAVA ROOTS ES:</h2>
                <div class="answers">
                    <div class="row-reaction" id="reaction">
                        
                    </div>
                    <div class="star-widget">
                        <input type="radio" name="Rate" value="5" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="Rate" value="4" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="Rate" value="3" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="Rate" value="2" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="Rate" value="1" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                    <div class="comments">
                        <label class="add-comment">
                            <input type="checkbox" name="comment" id="commentCassava">
                            <span class="check-desc">Agregar un comentario.</span>
                        </label>
                        <input class="hiden" type="text" name="descCassava" id="txtDescCassava">
                    </div>
                </div>
                <div class="movement">
                    <button class="movButton disabled" id="nextBtn" name="next4" disabled>Siguiente</button>
                </div>
            </div>
            <div class="slide customerInfo">
                <div class="greetings">
                    <h2>¡GRACIAS ROCKSTER!</h2>
                    <p>Queremos seguir ofreciéndote una mejor experiencia.</p><br/>
                    <p>Por favor déjanos tus datos para seguir en contacto y ofrecerte mejores recompensas.</p>
                </div>
                <div class="data">
                    <input type="text" name="fullName" id="txtName" placeholder="Nombre completo" required autofocus/><br/><br/>
                    <input type="number" name="email" id="email" placeholder="texto de ejemplo" required/>
                </div>
                <div class="movement">
                    <button class="movButton" type="submit" id="endBtnFinal">Terminar</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/Scripts/quizz.js"></script>
</body>
</html>